# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
docker.env

# Build output
dist/
build/

# TypeScript cache and output
*.tsbuildinfo

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Other
coverage/
dist/
env.nosync/